{{yield}}
<ul>
  {{!-- {{#each portfolioItems as |item|}} --}}
    {{!-- <li>{{#link-to item.portfolio}}{{item.portfolio}}{{/link-to}}</li> --}}
  {{!-- {{/each}} --}}
  {{#link-to 'portraits'}}portraits{{/link-to}}
  {{#link-to 'musician-portraits'}}musician-portraits{{/link-to}}

</ul>
