<h2>This is the Visual Gallery</h2>
{{#link-to 'visual.graphic-design'}}
  graphic-design
{{/link-to}}
{{outlet}}
{{!-- <ul>
    {{#each model as |exhibit|}}
      <li>
        {{#link-to (concat "visual." exhibit.name)}}
          {{exhibit.name}}
        {{/link-to}}
      </li>
    {{/each}}
</ul> --}}
