{{yield}}
{{!-- <button class="pull-right" {{action "delete"}}>Delete</button> --}}
{{edit-item-form item=item edit='edit' delete='delete'}}
<img style="max-height: 500px; max-width: 500px;"  src={{item.body}}/>
