{{yield}}
{{!-- models-navbar --}}
<ul>
    {{#each model as |model|}}
    <li>
        {{#link-to (concat "visual." model.name)}}
          {{item.name}}
        {{/link-to}}
    </li>
    {{/each}}
</ul>
