{{yield}}
<form enctype="multipart/form-data" id="edit-item-form" {{ action 'edit' on='submit'}}>
  <fieldset>
    <legend>Edit Item</legend>
    <input type="text" class="form-control" name="item[name]" placeholder="Name">
    <input type="text" class="form-control" name="item[artform]" placeholder="visual or performance?">
    <input type="text" class="form-control" name="item[portfolio]" placeholder="portfolio">
    <input type="text" class="form-control" name="item[section]" placeholder="section">
    <input type="submit" class="btn btn-success" name="submit" value="Save">
    <button class="pull-right btn btn-danger" {{action "delete"}}>Delete</button>
  </fieldset>
</form>
